.cardAsideNews *,
.asideNewsBot * {
    font-family: 'Times New Roman', Times, serif;
}

.card {
    margin-bottom: 24px;
}

.cardAsideNews button {
    padding: 16px 0;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.cardAsideNews h3 {
    font-size: 24px;
    line-height: 1.15em;
    font-weight: 300;
}

.cardAsideNews h3:hover {
    text-decoration: underline;
}

.cardAsideNews p {
    letter-spacing: 0.1px;
    line-height: 1.1875rem;
    font-size: 14px;
    color: #5A5A5A;
}

.cardAsideNews img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.cardAsideNews {
    border-bottom: 1px solid #DFDFDF;
}

.cardAsideNews small {
    font-size: 9px;
    color: #727272;
    text-align: end;
}

.cardAsideNews>div {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.asideNewsBot {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.asideNewsBot h3 {
    font-size: 16px;
    color: #121212;
}

.asideNewsBot > li {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.asideNewsBot > *:not(li:last-child)::after {
    content:"";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #DFDFDF;
    right: -18px;
}

.asideNewsBot > li >img {
    height: 100px;
    object-fit: cover;
}