.asideMultipleCard * {
    font-family: 'Times New Roman', Times, serif;
}

.asideMultipleCard button{
    display: grid;
    grid-template-columns: 1fr 90px;
    gap: 30px;
    border-bottom: 1px solid #DFDFDF;
    padding: 16px 0;
    width: 100%;
    text-align: left;
}

.asideMultipleCard img {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.asideMultipleCard h3 {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}