.asideMultipleCard * {
    font-family: 'Times New Roman', Times, serif;
}

.asideMultipleCard {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 1px solid #DFDFDF;
    padding: 16px 0;
}

.asideMultipleCard img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.asideMultipleCard h3 {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}