.topHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.topHeaderContent a {
  color: #000;
  text-transform: uppercase;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.topHeaderContent button {
  cursor: pointer;
  transition: filter 0.3s;
}

.topHeaderContent button:hover {
  filter: brightness(0.95);
}

.topHeaderContent >div:first-child {
  display: flex;
  gap: 32px;
}

.topHeaderContent >div:last-child {
  display: flex;
  gap: 8px;
}