.divHomeContent {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.divHomeContent > main {
    width: 830px;
}

.asideContent {
    width: 336px;
    display: flex;
    flex-direction: column;
}

.teste {
    width: 1px;
    background-color: #C7C7C7;
}