.divHomeContent {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1px 336px;
    gap: 20px;
    position: relative;
}

.asideContent {
    display: flex;
    flex-direction: column;
}

.divisor {
    width: 1px;
    background-color: #C7C7C7;
}


.sectionMoreNewsContent {
    width: 100%;
}


@media(max-width: 1240px) {

    .divHomeContent {
        grid-template-columns: 1fr;
    }

    .divisor {
        display: none;
    }

    .sectionMoreNewsContent > *:last-child {
        display: none;
    }

    .asideContent > *:first-child  {
        display: none;
    }
}


@media(max-width: 768px) {

    .sectionMoreNewsContent {
        display: none;
    }

  }