.sectionMainNews {
    display: grid;
    grid-template-columns: 800px 1px 1fr;
    gap: 20px;

    margin: 40px 0;
}

.divisor {
    width: 1px;
    background-color: #DFDFDF;
}

.asideCard>div {
    border-bottom: 1px solid #DFDFDF;
    padding: 12px 0;
}

.asideCard>div:last-child {
    border: none;
}

.asideCard>div:first-child {
    padding-top: 0;
}


@media(max-width: 1240px) {

    .sectionMainNews {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .sectionMainNews > *:first-child img {
        height: 400px;
    }
}


@media(max-width: 576px) {

    .sectionMainNews > *:first-child img {
        height: 200px;
    }

}


