.mainCard {
    width: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainCard small {
    margin-top: 4px;
    font-size: 10px;
    text-align: end;
    color: #727272;
    text-transform: uppercase;
}

.mainCard>div>img {
    width: 810px;
    height: 540px;
}

.mainCard * {
    font-family: 'Times New Roman', Times, serif
}

.mainCard a {
    color: black;
    font-weight: 700;
    font-size: 23px;
}

.mainCard>div>h3 {
    font-weight: 700;
    line-height: 1.6875rem;
    font-size: 23px;
}

.mainCard>div>p:first-child {
    font-weight: 500;
    line-height: 1.375rem;
    font-size: 15px;
}

.mainCard>div>p:last-child {
    font-size: 11px;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

.mainCard>div:first-child {
    display: flex;
    flex-direction: column;
}

.mainCard>div:last-child {
    margin-top: 12px;
    flex-direction: column;
    gap: 8px;
    display: flex;
    width: 70%;
    text-align: center;
}