.cardMainNews {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid black;
    padding: 16px 0;
}

.cardMainNews>div>img {
    height: 345px;
    width: 521px;
    object-fit: cover;
}

.cardMainNews>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.cardMainNews>div:last-child a {
    color: #727272;
}