.kickerAndTitleNew {
    padding: 16px 0;
    border-bottom: 1px solid #DFDFDF;
}

.kickerAndTitleNew button {
    text-align: left;
}

.kickerAndTitleNew button >h3:first-child {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #727272;
    letter-spacing: 1px;
}

.kickerAndTitleNew button >h3:last-child {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #121212;
}