.kickerWithImage {
    padding: 16px 0;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
}

.kickerWithImage img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.kickerWithImage>div>h3:first-child {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #727272;
    letter-spacing: 1px;
}

.kickerWithImage>div>h3:last-child {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #121212;
}